@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}



@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  .qingshi{
    width: 800px;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-left: -400px;

  }
.qingshi .qp1{
  color: #ee3f5c;
}
.qingshi .qp2{
  color: #acbff9;
}
.qingshi .qp3{
  color: red;
}

.form1{
  position: absolute;
  bottom: 10%;
  right: 10%;

}




}
