<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul li{
            list-style: none;
            float: left;
        }
        ul li button img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body >
<ul>
    <li>
        <button><img src="../static/images/lp1.jpg" alt=""></button>
    </li>
    <li>
        <button><img src="../static/images/lp2.jpg" alt=""></button>
    </li>
    <li>
        <button><img src="../static/images/lp3.jpg" alt=""></button>
    </li>
</ul>
</body>
</html>